@model Domain.ViewModels.BookingVM

@{
    Layout = "_Layout";
    ViewData["Title"] = "Book a Flight";
}

<h1 class="display-4">Book a flight</h1>

<form asp-action="BookFlight" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label class="form-label" asp-for="FlightID">Flight</label>
        <select class="form-control" asp-for="FlightID">
            <option value="">Choose a flight</option>
            @foreach (var flight in (IQueryable<Domain.ViewModels.FlightVM>)ViewData["flights"])
            {
                <option value="@(flight.ID)">@flight.FlightRoute</option>
            }
        </select>
        <span asp-validation-for="FlightID" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Row">Row</label>
        <input class="form-control" type="text" asp-for="Row">
        <span asp-validation-for="Row" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Column">Column</label>
        <input class="form-control" type="text" asp-for="Column">
        <span asp-validation-for="Column" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PassportNo">Passport No</label>
        <input class="form-control" type="text" asp-for="PassportNo">
        <span asp-validation-for="PassportNo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Book</button>
</form>

@section Scripts {
    <script>
        document.getElementById('FlightID').value = '@(ViewData["FlightId"] ?? "")'
    </script>
}
