@{
    Layout = "_Layout";
    ViewData["Title"] = "Flights";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Flight Route</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Arrival Date</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Valletta - Milan</td>
            <td>25/12/2023</td>
            <td>26/12/2023</td>
            <td>50&euro;</td>
        </tr>
        <tr>
            <td>Valletta - Milan</td>
            <td>25/12/2023</td>
            <td>26/12/2023</td>
            <td>50&euro;</td>
        </tr>
        <tr>
            <td>Valletta - Milan</td>
            <td>25/12/2023</td>
            <td>26/12/2023</td>
            <td>50&euro;</td>
        </tr>
        <tr>
            <td>Valletta - Milan</td>
            <td>25/12/2023</td>
            <td>26/12/2023</td>
            <td>50&euro;</td>
        </tr>
    </tbody>
</table>

