@{
    Layout = "_Layout";
    ViewData["Title"] = "Tickets";
}

<h1 class="display-4">Tickets</h1>

<div class="tickets-container">
    @foreach (var ticket in (IQueryable<Presentation.ViewModels.TicketVM>)ViewData["Tickets"])
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@ticket.Title</h5>
                <p class="card-text">@ticket.Description</p>
                <p class="card-text">@(ticket.PricePaid)&euro;</p>
            </div>
        </div>
    }
</div>

@section Styles {
    <style>
        .tickets-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    </style>
}
